body {
  overflow: hidden
}
/* tab 栏 */
.tab-wrap {
  display: flex;
  width: 100%;
  background: #004052;
  color: #969696;
  height: 30px;
  line-height: 30px;
  position: relative
}
.tab-item {
  background: #004052;
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 100px;
  border-right: 1px solid #003847;
  border-left: 1px solid #003847;
  cursor: pointer
}
.tab-active {
  background: #322931;
  border: none;
  color: #f1f1f1
}
.full-screen {
  position: absolute;
  right: 10px;
  color: #f1f1f1;
  cursor: pointer;
}
.full-screen:hover {
  color: #fefefe;
}
/* 编辑、预览窗口 */
.big-wrap {
  display: flex;
}
.editor,
.output {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap:nth-child(1) {
  visibility: visible;
}
.wrap:nth-child(2) {
  visibility: hidden;
}
.wrap:nth-child(3) {
  visibility: hidden;
}
.iframe {
  width: 100%;
  height: 100%;
  border: none
}
/* 控制台 */
.console {
  height: 200px;
  width: 100%;
  background: #322931;
  overflow: hidden;
  box-sizing: border-box;
}
.console-head {
  height: 30px;
  box-sizing: border-box;
  border-top: 1px solid #2b2b4a;
  position: relative;
}
.console-clean {
  border: 1px solid #eeeeee;
  color: #eeeeee;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.console-clean:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.console-content {
  height: 170px;
  color: #b58900;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.console-content div {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px dashed #b58900;
  word-wrap: break-word;
  word-break: normal;
}